<% content_for :body_content_left do %>
  <% if @results.any? %>
    
    <h2>Résultats de la recherche pour '<%=h params[:query] %>'</h2>
    <ul id="search_results">
      <% @results.each do |result| %>
        <li>
          <span class='result_type'>
            <%= result.class.to_s.titleize %>
          </span>
          <%= link_to raw(result.title.gsub(/(#{params[:query]})/i,'<mark>\1</mark>')), result_url(result) %>
        </li>
      <% end %>
  </ul>
  <% else %>
    <h2>Aucun résultat pour '<%=h params[:query] %>'</h2>
  <% end %>

<% end %>

<%= render :partial => "/shared/content_page" %>
<% content_for :head do %>
  <style type='text/css'>
    #search_results {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    #search_results li {
      border-bottom: 1px solid #CCC;
    }

    #search_results li span.result_type {
      float: left;
      color: #AAA;
      margin: 0 10px
    }
    #search_results li span.result_type:after {
      content: " :"
    }
  </style>
<% end %>
