<div id="universe_selector_wrap">
  <span>Choix de l'univers :</span>
  <nav id="menu" class="universe">
    <ul>
      <% %w(cap crpv ceip).each do |universe|%>
        <li class=<%= (@categorie == universe) ? "selected" : "" %>>
          <% if %w(pages blog/posts).include? params[:controller] %>
            <%= link_to universe.upcase, :categorie => universe %>
          <% else %>
            <%= link_to universe.upcase, :categorie => universe, :month => @month, :year => @year, :state => @state %>
          <% end %>
        </li>
      <% end %>
      <li class=<%= @categorie.nil? ? "selected" : ""%>>
        <% if %w(pages blog/posts).include? params[:controller] %>
          <%= link_to "Tous", root_path %>
        <% else %>
          <%= link_to "Tous", :month  => @month, :year => @year, :state => @state %>
        <% end %>

      </li>
    </ul>
  </nav>
</div>
