<div id="universe_selector_wrap">
  Choix de l'univers :
  <nav id="menu">
    <ul>
      <% %w(cap crpv ceip).each do |universe|%>
        <li class=<%= (params[:categorie] == universe) ? "selected" : "" %>>
          <% if params[:controller] == "pages" %>
            <%= link_to universe.upcase, :categorie => universe %>
          <% else %>
            <%= link_to universe.upcase, url_for(:categorie => universe, :month => @month, :year => @year) %>
          <% end %>
        </li>
      <% end %>
      <li class=<%= params[:categorie] == {} ? "selected" : ""%>>
        <% if params[:controller] == "pages" %>
          <%= link_to "Tous", root_path %>
        <% else %>
          <%= link_to "Tous", polymorphic_path(params[:controller]) %>
        <% end %>

      </li>
    </ul>
  </nav>
</div>
