<% content_for :body_content_left do %>
  <section class="wrap_blog">
    <% if @recent_blog_posts.any? %>
      <%= render :partial => "/blog/shared/post", :collection => @recent_blog_posts %>
    <% else %>
      <%= raw @page[:body] %> 
    <% end %>
  </section>

  <div class="wrap_last_stuff">
    <% Categorie.all -%>
    <section class="column alertes">
      <h3><%= link_to "Alertes", alertes_path %></h3>
      <%= render 'alertes/recent', :alertes => @recent_alertes %>
    </section>
    <section class="column documents">
      <h3><%= link_to "Documents", documents_path %></h3>
      <%= render 'documents/recent', :documents => @recent_documents %>
    </section>
    <section class="column enquetes">
      <h3><%= link_to "Enquêtes", enquetes_path %></h3>
      <%= render 'enquetes/recent', :enquetes => @enquetes_en_cours%>
    </section>
    <section class="column events last">
      <h3><%= link_to "Agenda", events_path %></h3>
      <%= render 'events/next_events', :events => @next_events %>
    </section>
  </div>
<% end %>
<%= render :partial => "/shared/content_page" %>
