<section id='body_content_left'>
  <%=raw @page[:body] %>

  <% if @page.images.any? %>
    <div id="msg_slideshow" class="msg_slideshow">
      <div id="msg_wrapper" class="msg_wrapper">
      </div>
      <div id="msg_controls" class="msg_controls"><!-- right has to animate to 15px, default -110px -->
        <a href="#" id="msg_grid" class="msg_grid"></a>
        <a href="#" id="msg_prev" class="msg_prev"></a>
        <a href="#" id="msg_pause_play" class="msg_pause"></a><!-- has to change to msg_play if paused-->
        <a href="#" id="msg_next" class="msg_next"></a>
      </div>
      <div id="msg_thumbs" class="msg_thumbs"><!-- top has to animate to 0px, default -230px -->
        <% @images_groups.each_with_index do |images, index| -%>
          <div class="msg_thumb_wrapper" style=<%= index == 0 ? ";" : "display:none;"%>>
            <% images.each do |image| -%>
              <%= link_to image_tag(image.thumbnail("75x75#c").url, :alt => image.thumbnail("900x600").url), "#" %>
            <% end %>
          </div>
        <% end -%>
        <a href="#" id="msg_thumb_next" class="msg_thumb_next"></a>
        <a href="#" id="msg_thumb_prev" class="msg_thumb_prev"></a>
        <a href="#" id="msg_thumb_close" class="msg_thumb_close"></a>
        <span class="msg_loading"></span><!-- show when next thumb wrapper loading -->
      </div>
    </div>
  <% end %>
</section>

<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag "msg_style" %>
<% end %>

<% content_for :javascripts do -%>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "msg_jquery" %>
<% end %>
