<% content_for :body_content_left do %>
  <%= raw @page[:body] if @news_items.offset == 0 %>

  <% if @news_items.any? %>
    <div class="wrap_news">
      <%= render @news_items %>
    </div>
    <%= will_paginate(@news_items) %>
  <% else %>
    <p><em><%= t('.no_items_yet') %></em></p>
  <% end %>
<% end -%>

<%= render :partial => "/shared/content_page" %>
