<% content_for :body_content_title do %>
  <%= @alerte.titre %>
<% end %>

<% content_for :body_content_left do %>
  <p id="date"><%=l @alerte.date %></p>
  <%=raw @alerte.contenu %>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= link_to "Autres alertes", alertes_path %></h2>
    <%= render :partial => 'alertes/recent', :locals => { :alertes => Alerte.recent} %>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
