<% content_for :body_content_left do %>
  <nav id="menu">
    <ul>
      <% ["en cours", "terminee"].each do |state| %>
        <li class=<%= (@state == state) ? "selected" : "" %>>
          <%= link_to state.upcase, :state => state, :categorie => @categorie %>
      <% end %>
      <li class=<%= @state.nil? ? "selected" : ""%>>
        <%= link_to "TOUTES", :categorie => @categorie %>
      </li>
    </ul>
  </nav>
  <div class="liste enquetes">
    <% @enquetes_annees.each do |annee, enquetes| %>
      <h2 style="clear:left;"><%= annee.strftime("%Y") %></h2>
      <% enquetes.each do |enquete| %>
        <p>
          <span class="label"><%= l(enquete.publication, :format => :long) %></span>
          <%= link_to enquete.titre, enquete_url(enquete) %>
          <% Categorie.all -%>
          <% links_to_categories(enquete) %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render :partial => "/shared/content_page" %>
