<% content_for :body_content_left do %>
  <nav id="menu" class="alertes">
    <ul>
      <% ["en cours", "terminee"].each do |state| %>
        <li class=<%= (@state == state) ? "selected" : "" %>>
          <%= link_to state.upcase, :state => state, :categorie => @categorie %>
      <% end %>
      <li class=<%= @state.nil? ? "selected" : ""%>>
        <%= link_to "TOUTES", :categorie => @categorie %>
      </li>
    </ul>
  </nav>
  <div class="liste enquetes">
    <% if @enquetes_annees.any? %>
      <% @enquetes_annees.each do |annee, enquetes| %>
        <h2 style="clear:left;"><%= annee.strftime("%Y") %></h2>
        <% enquetes.each do |enquete| %>
          <p>
            <span class="label"><%= l(enquete.publication, :format => :long) %></span>
            <%= link_to enquete.titre, enquete_url(enquete) %>
            <% Categorie.all -%>
            <% links_to_categories(enquete) %>
          </p>
        <% end %>
      <% end %>
    <% else %>
      <div class="no_alertes">Aucune alerte<%= " #{@state.upcase}" if @state %>.</div>
    <% end %>
  </div>
<% end %>

<%= render :partial => "/shared/content_page" %>
